{{range . -}}{{$opid := .OperationId}}
func make{{$opid}}Endpoint(svc Service) endpoint.Endpoint {
return func(ctx context.Context, request interface{}) (interface{}, error) {

{{if .AllParams}}
req, ok := request.({{$opid}}Request)
{{else if .HasBody }}
req, ok := request.({{(index .Bodies 0).Schema.GoType}})
{{end}}
if !ok {
return nil, Error(http.StatusInternalServerError, "invalid request, expected {{$opid}}Request")
}


{{ if not .GetResponseTypeDefinitions }}

if err := svc.{{$opid}}(ctx{{if or .AllParams .HasBody}}, req{{end}}); err != nil {
return nil, err
}
return {{$opid}}Response{}, nil

{{else if .AllParams }}
res, err := svc.{{$opid}}(ctx, {{range $index, $param := .AllParams -}}
{{if $index}}, {{end -}}
req.{{- $param.GoName -}}
{{- end -}})
if err != nil {
return nil, err
}
return res, nil

{{else}}

res, err := svc.{{$opid}}(ctx, req)
if err != nil {
return nil, err
}
return res, nil

{{end}}
}
}

{{ end -}}