// Service is the interface to be implemented for the service business
// logic
type Service interface {
{{range . -}}

// {{.OperationId}} handles {{.Method}} calls to {{.Path}}
//
{{.SummaryAsComment}}
{{.OperationId}}{{template "kit-function-signature" .}}
{{end}}
}

