{{range .}}{{$opid := .OperationId}}

  {{if not .HasBody }}
    {{if and .TypeDefinitions .AllParams }}
	// {{$opid}}Request defines parameters for {{$opid}}.
  	type {{$opid}}Request struct {
	
  	{{range $index, $param := .AllParams -}}
      {{ $param.GoName}} {{if not $param.Required}}*{{end}}{{$param.Schema.GoType }}
    {{ end }}

  	}
	
    {{else if .TypeDefinitions }}

      {{range .TypeDefinitions}}
	  // {{$opid}}Request defines parameters for {{$opid}}.
	  type {{$opid}}Request {{if and (opts.AliasTypes) (.CanAlias)}}={{end}} {{.Schema.TypeDecl}}
      {{end}}

  	{{else if .AllParams}}

	// {{$opid}}Request defines parameters for {{$opid}}.
  	type {{$opid}}Request struct {
  	{{range $index, $param := .AllParams -}}
      {{ $param.GoName}} {{if not $param.Required}}*{{end}}{{$param.Schema.GoType }}
    {{ end }}
  	}
	
  	{{end}}
  
  {{end}}



{{end}}
