{{- if gt (len .SecuritySchemeProviderNames) 0 }}
const (
{{range $ProviderName := .SecuritySchemeProviderNames}}
    {{- $ProviderName | ucFirst}}Scopes = "{{$ProviderName}}.Scopes"
{{end}}
)
{{end}}
{{if gt (len .EnumDefinitions) 0 }}
{{range $Enum := .EnumDefinitions}}
// Defines values for {{$Enum.TypeName}}.
const (
{{- range $index, $value := $Enum.Schema.EnumValues}}
  {{$index}} {{$Enum.TypeName}} = {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper}}
{{- end}}
)

var {{$Enum.TypeName}}List = []{{$Enum.TypeName}}{
{{- range $index, $value := $Enum.Schema.EnumValues}}
  {{$index}},
{{- end}}
}

func IsValid{{$Enum.TypeName}}(thing {{$Enum.TypeName}}) bool {
for _, c := range {{$Enum.TypeName}}List {
if thing == c {
return true
}
}
return false
}
{{end}}
{{end}}
